*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
rspec_results.html
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.tags

# RVM
.ruby-version
.ruby-gemset
.rvmrc

# OSX
.DS_Store
